html {
    background-color: #fff95c;
}
body {
    font-family: Helvetica;
}
.container {
margin-left: 50px;
margin-top: 50px;
}
h1 {
    color: black;
}

a {
    display: block;
    margin-bottom: 10px;
}

svg {
width: 3%; 
height: auto;
}

svg:hover {

    transform: rotate(180deg);
}
